<h1>Trainer</h1>
<script src='../public/scripts/board.js'></script>
<script src='../node_modules/chess.js/chess.js'></script>
<link rel="stylesheet" href="../public/css/board.css">

<div id='parent' display='flex'>	
	
		<div id='AllLineDiv'>
			<h2>Pick a line to get started</h2>
			<div id='AllLines'>
				<h2>Your Lines</h2>
			</div>
		</div>

		<div id='boardDiv' float='left'>
			<div id='board'></div>
		</div>

	</div>
</div>
</div>

<script>

	const board = new Board({width: 400});
	const lineIds = '<%= lineIds %>'.split(',');
	const lineNames = '<%= lineNames %>'.split(',');
	const lineStartingPositions = '<%= startingPositions %>'.split(',');
	const lockedLines = '<%= lockedLines %>'.split(',');
	const lockedLineParents = '<%= lockedLineParents %>'.split(',');
	updateSideLines('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR');

	document.addEventListener('boardMove', function(e){
		updateSideLines(board.getFen());
	})

	function updateSideLines(position)
	{
		const AllLineList = document.getElementById('AllLines');
		AllLineList.innerHTML = '';
		for(var i in lineIds)
		{
			const isSideLine = lockedLines.some((line) => { return line == lineIds[i] })
			if(!isSideLine) {
				const link = document.createElement('a');
				link.setAttribute('href', 'trainer/sideline?current=' + lineIds[i]);
				link.innerHTML = lineNames[i];
				AllLineList.appendChild(link);
				AllLineList.appendChild(document.createElement('br'));
			}
		}
	}

</script>
